@import './../../theme/variables';
@import './../../theme/mixins';

page-nearest {

  .mat-list {
    .mat-list-item {
      color: map-get($colors, dark);
    }
  }

  .mat-divider {
    background-color: map-get($md-primarypalette, 300);
  }

  .event-status {
    @include truncate();
    height: 100%;
    width: 100px!important;
    border-radius: unset!important;
    text-align: center;
  }

  .error {
    text-align: center;
  } 
}
