
$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------



// Named Color Variables
// --------------------------------------------------

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

$md-primarypalette: (
     50 : #f0e7f2,
    100 : #dac3de,
    200 : #c19cc9,
    300 : #a874b3,
    400 : #9556a2,
    500 : #823892,
    600 : #7a328a,
    700 : #6f2b7f,
    800 : #652475,
    900 : #521763,
    A100 : #e89dff,
    A200 : #db6aff,
    A400 : #cf37ff,
    A700 : #c91eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-defaultpalette: (
    50 : #f0e7f2,
    100 : #dac3de,
    200 : #c19cc9,
    300 : #a874b3,
    400 : #9556a2,
    500 : #823892,
    600 : #7a328a,
    700 : #6f2b7f,
    800 : #652475,
    900 : #521763,
    A100 : #e89dff,
    A200 : #db6aff,
    A400 : #cf37ff,
    A700 : #c91eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
