@import './../../theme/variables';
@import './../../theme/mixins';

page-menu {
  #rootMenu {
    .logo {
      margin: 0 auto;
    }

    .icon {
      padding: 0 14px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .mat-list .mat-list-item {
      color: map-get($md-primarypalette, 300);
    }
  }
}
